*{
    box-sizing: border-box;

}
body{
    width: 800px;
    background: gray;
    
}

.home{
    width: 100%;
    height: 200px;
    border: 2px solid blue;
    background-image: url("../photo/cup.jfif");
    background-size:cover;
    background-repeat: no-repeat;
    
}

.text{
    width: 20%;
    height: 100px;
    text-align: left;
    border: 1px solid transparent;
    color:white;
    position: absolute;
    top: 90px;
    left: 10px;
}

.features{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(99, 96, 96);
    background: white;
}

.out{
    width: 100%;
    height: 200px;
    border: 2px solid white;
    background: white;
    border-collapse: collapse;
    position: relative;
    
}

.a{
width: 22%;
height: 150px;
border: 1px solid gray;position: absolute;
bottom: 0;
left: 0;
}

.b{
    width: 22%;
    height: 150px;
    border: 1px solid gray;
    position: absolute;
    bottom: 0;
    left: 210px;
}

.c{
    width: 22%;
    height: 150px;
    border: 1px solid gray;
    position: absolute;
    bottom: 0;
    right: 210px;

}

.d{
    width: 22%;
    height: 150px;
    border: 1px solid gray;
    position: absolute;
    bottom: 0;
    right: 0;
    
}